# Tratamento dos Dados

In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
# url = 'https://bi.s3.es.gov.br/covid19/MICRODADOS.zip'
url = '../MICRODADOS.zip'
df = pd.read_csv(url, sep = ';', encoding = 'cp1252')
df.head()

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataColetaTesteRapido,DataColetaSorologia,DataColetaSorologiaIGG,DataEncerramento,DataObito,Classificacao,...,ViagemBrasil,ViagemInternacional,ProfissionalSaude,PossuiDeficiencia,MoradorDeRua,ResultadoRT_PCR,ResultadoTesteRapido,ResultadoSorologia,ResultadoSorologia_IGG,TipoTesteRapido
0,2021-12-18,2021-11-26,2021-12-15,NaN,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado
1,2021-12-18,2021-11-22,2021-12-17,2021-11-24,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Negativo,Não Informado,Não Informado,Não Informado,Não Informado
2,2021-12-18,2021-12-18,2021-12-18,2021-12-18,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado
3,2021-12-18,2021-12-18,2021-12-12,2021-12-18,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado
4,2021-12-18,2021-12-18,2021-12-17,NaN,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado

In [3]:
df = df.query('Classificacao == "Confirmados"').reset_index(drop=True)

In [4]:
inicio = df['DataNotificacao'].min()
fim = df['DataNotificacao'].max()

print(f'Os dados são de {inicio} a {fim}')

Os dados são de 2020-02-29 a 2021-12-18

In [5]:
print('Classificacão: {}'.format(df['Classificacao'].unique()))
print('Evolução: {}'.format(df['Evolucao'].unique()))

Classificacão: ['Confirmados']
Evolução: ['-' 'Ignorado' 'Cura' 'Óbito pelo COVID-19' 'Óbito por outras causas']

In [6]:
total_casos = df.query('Classificacao == "Confirmados"').shape[0]
total_obitos = df.query('Evolucao == "Óbito pelo COVID-19"').shape[0]
total_curas = df.query('Evolucao == "Cura"').shape[0]

print('TOTAIS')
print('=================')
print('  - CASOS: {}'.format(total_casos))
print('  - ÓBITOS: {} ({}%)'.format(total_obitos, round((total_obitos * 100) / total_casos, 1)))
print('  - CURA: {} ({}%)'.format(total_curas, round((total_curas * 100) / total_casos, 1)))

TOTAIS
=================
  - CASOS: 626718
  - ÓBITOS: 13273 (2.1%)
  - CURA: 605179 (96.6%)

In [7]:
df['DataConfirmado'] = df['DataColeta_RT_PCR'].combine_first(df['DataColetaTesteRapido'])\
    .combine_first(df['DataColetaSorologia'])\
    .combine_first(df['DataColetaSorologiaIGG'])\
    .combine_first(df['DataDiagnostico'])

df

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataColetaTesteRapido,DataColetaSorologia,DataColetaSorologiaIGG,DataEncerramento,DataObito,Classificacao,...,ViagemInternacional,ProfissionalSaude,PossuiDeficiencia,MoradorDeRua,ResultadoRT_PCR,ResultadoTesteRapido,ResultadoSorologia,ResultadoSorologia_IGG,TipoTesteRapido,DataConfirmado
0,2021-12-18,2021-12-18,2021-12-14,NaN,2021-12-18,NaN,NaN,NaN,NaN,Confirmados,...,Não Informado,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno,2021-12-18
1,2021-12-18,2021-12-18,2021-12-17,2021-12-17,NaN,NaN,NaN,NaN,NaN,Confirmados,...,Não Informado,Ignorado,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2021-12-17
2,2021-12-18,2021-12-18,2021-12-16,2021-12-16,NaN,NaN,NaN,NaN,NaN,Confirmados,...,Não Informado,Ignorado,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2021-12-16
3,2021-12-18,2021-12-18,2021-12-15,NaN,2021-12-18,NaN,NaN,NaN,NaN,Confirmados,...,Não Informado,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno,2021-12-18
4,2021-12-18,2021-12-18,2021-12-14,NaN,2021-12-18,NaN,NaN,NaN,NaN,Confirmados,...,Não,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno,2021-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626713,2020-03-13,2020-04-14,2020-03-10,2020-03-13,NaN,NaN,NaN,2020-04-14,NaN,Confirmados,...,Não Informado,Não,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2020-03-13
626714,2020-03-13,2020-04-14,2020-03-10,2020-03-12,NaN,NaN,NaN,2020-05-07,NaN,Confirmados,...,Sim,Não,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2020-03-12
626715,2020-03-06,2020-04-16,2020-03-04,2020-10-08,NaN,NaN,NaN,2020-12-13,NaN,Confirmados,...,Sim,Não,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2020-10-08
626716,2020-03-06,2020-04-14,2020-03-04,2020-03-06,NaN,NaN,NaN,2020-05-08,NaN,Confirmados,...,Sim,Não,Não Informado,Não Informado,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2020-03-06
626717,2020-02-29,2020-04-14,2020-02-22,2020-02-29,NaN,NaN,NaN,2020-04-18,NaN,Confirmados,...,Sim,Ignorado,Não,Não,Positivo,Não Informado,Não Informado,Não Informado,Não Informado,2020-02-29

In [8]:
confirmado_min = df['DataConfirmado'].min()
confirmado_max = df['DataConfirmado'].max()

print(f'As datas de casos confirmados são de {confirmado_min} a {confirmado_max}')

As datas de casos confirmados são de 1980-12-02 a 2089-12-27

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626718 entries, 0 to 626717
Data columns (total 46 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   DataNotificacao          626718 non-null  object
 1   DataCadastro             626718 non-null  object
 2   DataDiagnostico          626718 non-null  object
 3   DataColeta_RT_PCR        356904 non-null  object
 4   DataColetaTesteRapido    250852 non-null  object
 5   DataColetaSorologia      46442 non-null   object
 6   DataColetaSorologiaIGG   56806 non-null   object
 7   DataEncerramento         620107 non-null  object
 8   DataObito                13506 non-null   object
 9   Classificacao            626718 non-null  object
 10  Evolucao                 626718 non-null  object
 11  CriterioConfirmacao      626718 non-null  object
 12  StatusNotificacao        626718 non-null  object
 13  Municipio                626718 non-null  object
 14  Bairro                   622159 non-null  object
 15  FaixaEtaria              626718 non-null  object
 16  IdadeNaDataNotificacao   626718 non-null  object
 17  Sexo                     626718 non-null  object
 18  RacaCor                  626718 non-null  object
 19  Escolaridade             626718 non-null  object
 20  Gestante                 626718 non-null  object
 21  Febre                    626718 non-null  object
 22  DificuldadeRespiratoria  626718 non-null  object
 23  Tosse                    626718 non-null  object
 24  Coriza                   626718 non-null  object
 25  DorGarganta              626718 non-null  object
 26  Diarreia                 626718 non-null  object
 27  Cefaleia                 626718 non-null  object
 28  ComorbidadePulmao        626718 non-null  object
 29  ComorbidadeCardio        626718 non-null  object
 30  ComorbidadeRenal         626718 non-null  object
 31  ComorbidadeDiabetes      626718 non-null  object
 32  ComorbidadeTabagismo     626718 non-null  object
 33  ComorbidadeObesidade     626718 non-null  object
 34  FicouInternado           626718 non-null  object
 35  ViagemBrasil             626718 non-null  object
 36  ViagemInternacional      626718 non-null  object
 37  ProfissionalSaude        626718 non-null  object
 38  PossuiDeficiencia        626718 non-null  object
 39  MoradorDeRua             626718 non-null  object
 40  ResultadoRT_PCR          626718 non-null  object
 41  ResultadoTesteRapido     626718 non-null  object
 42  ResultadoSorologia       626718 non-null  object
 43  ResultadoSorologia_IGG   626718 non-null  object
 44  TipoTesteRapido          626718 non-null  object
 45  DataConfirmado           626718 non-null  object
dtypes: object(46)
memory usage: 219.9+ MB

In [10]:
# df.dropna(subset=['DataConfirmado'], inplace=True)
# df[df['DataConfirmado'].notna()].shape[0]

In [11]:
# Corrige datas com ano errado

def filter_correct_date(row):
    try:
        pd.to_datetime(row['DataConfirmado'])
        return True
    except (ValueError, TypeError):
        print(row['DataConfirmado'])
        return False
    
df = df[df.apply(filter_correct_date, axis=1)]

In [12]:
df['DataNotificacao'] = pd.to_datetime(df['DataConfirmado'])
df['DataObito'] = pd.to_datetime(df['DataObito'])
df.sort_values('DataNotificacao', inplace=True)

## Padroniza nome de municípios e bairros

In [13]:
df['Municipio'] = df['Municipio'].apply(lambda x: unidecode(str(x)).upper())
df['Bairro'] = df['Bairro'].apply(lambda x: unidecode(str(x)).upper())

## Cálculo de Confirmados, Óbitos e Curados

In [14]:
grupo_base = ['DataNotificacao', 'Municipio', 'Bairro']

datas = df[['DataNotificacao']].drop_duplicates().reset_index(drop=True)
municipios_bairros = df[['Municipio', 'Bairro']].drop_duplicates().reset_index(drop=True)
    
datas['key'] = 0
municipios_bairros['key'] = 0

grupo_base

['DataNotificacao', 'Municipio', 'Bairro']

In [15]:
df['Confirmados'] = 1
df['Curas'] = df['Evolucao'].apply(lambda e: 1 if e == 'Cura' else 0)
df['Obitos'] = df['Evolucao'].apply(lambda e: 1 if e == 'Óbito pelo COVID-19' else 0)

df_confirmados_curas = df[['Municipio', 'Bairro', 'DataNotificacao', 'Confirmados', 'Curas']]\
    .groupby(['Municipio', 'Bairro', 'DataNotificacao'])\
    .sum()\
    .reset_index()

df_obitos = df[['Municipio', 'Bairro', 'DataObito', 'Obitos']]\
    .groupby(['Municipio', 'Bairro', 'DataObito'])\
    .sum()\
    .reset_index()\
    .rename({'DataObito': 'DataNotificacao'}, axis=1)

df_counts = df_confirmados_curas.merge(
    df_obitos,
    on=grupo_base,
    how='outer'
).fillna(0)

In [16]:
df_datas_municipios = pd.merge(datas, municipios_bairros, how='outer')[grupo_base]

df_counts = df_datas_municipios.merge(
    df_counts,
    on=grupo_base,
    how='left'
)

df_counts.fillna(
    {
        'Confirmados': 0,
        'Obitos': 0,
        'Curas': 0,
    },
    inplace=True
)

In [17]:
print('Análises em df_counts')
print('---------------------')

str_columns_df_counts = ', '.join(df_counts.columns)
print(f'Colunas presentes: {str_columns_df_counts}')

menor_data_df_counts = df_counts['DataNotificacao'].min().date().strftime('%d/%m/%Y')
maior_data_df_counts = df_counts['DataNotificacao'].max().date().strftime('%d/%m/%Y')

print(f'Menor data: {menor_data_df_counts}')
print(f'Maior data: {maior_data_df_counts}')

Análises em df_counts
---------------------
Colunas presentes: DataNotificacao, Municipio, Bairro, Confirmados, Curas, Obitos
Menor data: 02/12/1980
Maior data: 27/12/2089

In [18]:
df_counts.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,DataNotificacao,Municipio,Bairro,Confirmados,Curas,Obitos
3836382,2021-12-14,SERRA,COLINA DE LARANJEIRAS,4.0,0.0,0.0
3841740,2021-12-15,SERRA,COLINA DE LARANJEIRAS,0.0,0.0,0.0
3847098,2021-12-16,SERRA,COLINA DE LARANJEIRAS,2.0,0.0,0.0
3852456,2021-12-17,SERRA,COLINA DE LARANJEIRAS,1.0,0.0,0.0
3857814,2021-12-18,SERRA,COLINA DE LARANJEIRAS,0.0,0.0,0.0
3863172,2089-12-27,SERRA,COLINA DE LARANJEIRAS,0.0,0.0,0.0

In [19]:
columns_sum = ['Confirmados', 'Obitos', 'Curas']
df_counts_by_week = df_counts.groupby(['Municipio', 'Bairro', pd.Grouper(key='DataNotificacao', freq='W', label='left', closed='left')])[columns_sum]\
    .sum()\
    .reset_index()\
    .sort_values('DataNotificacao')

df_counts_by_week['ConfirmadosAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Confirmados']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week['ObitosAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Obitos']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week['CurasAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Curas']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
572313,SERRA,COLINA DE LARANJEIRAS,2021-11-14,16.0,0.0,16.0,3250.0,37.0,3211.0
572314,SERRA,COLINA DE LARANJEIRAS,2021-11-21,19.0,0.0,19.0,3269.0,37.0,3230.0
572315,SERRA,COLINA DE LARANJEIRAS,2021-11-28,6.0,0.0,6.0,3275.0,37.0,3236.0
572316,SERRA,COLINA DE LARANJEIRAS,2021-12-05,8.0,0.0,6.0,3283.0,37.0,3242.0
572317,SERRA,COLINA DE LARANJEIRAS,2021-12-12,17.0,0.0,4.0,3300.0,37.0,3246.0
572318,SERRA,COLINA DE LARANJEIRAS,2089-12-25,0.0,0.0,0.0,3300.0,37.0,3246.0

In [20]:
from datetime import date

today = date.today().strftime('%Y-%m-%d')
df_counts_by_week.query(f'DataNotificacao <= "{today}"')

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
0,ABADIA DE GOIAS,NAN,1980-11-30,0.0,0.0,0.0,0.0,0.0,0.0
418077,NOVA VENECIA,BAIRRO BELA VISTA,1980-11-30,0.0,0.0,0.0,0.0,0.0,0.0
156087,CARLOS CHAGAS,JARDIM DA PENHA,1980-11-30,0.0,0.0,0.0,0.0,0.0,0.0
61623,ARACRUZ,JARDINS,1980-11-30,0.0,0.0,0.0,0.0,0.0,0.0
560757,SAO PAULO,ABELARDO MACHADO,1980-11-30,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
145138,CARIACICA,JARDIM BOTANICO,2021-12-12,2.0,0.0,0.0,723.0,14.0,693.0
434557,NOVA VENECIA,SAO GONCALO,2021-12-12,1.0,0.0,0.0,35.0,0.0,33.0
260389,GUARAPARI,SAO MIGUEL,2021-12-12,0.0,0.0,0.0,22.0,0.0,22.0
434680,NOVA VENECIA,SAO LUIS DOS REIS,2021-12-12,0.0,0.0,0.0,7.0,0.0,7.0
145015,CARIACICA,JARDIM AMERICA,2021-12-12,6.0,0.0,0.0,1212.0,43.0,1121.0

In [21]:
df_counts_by_week.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
572313,SERRA,COLINA DE LARANJEIRAS,2021-11-14,16.0,0.0,16.0,3250.0,37.0,3211.0
572314,SERRA,COLINA DE LARANJEIRAS,2021-11-21,19.0,0.0,19.0,3269.0,37.0,3230.0
572315,SERRA,COLINA DE LARANJEIRAS,2021-11-28,6.0,0.0,6.0,3275.0,37.0,3236.0
572316,SERRA,COLINA DE LARANJEIRAS,2021-12-05,8.0,0.0,6.0,3283.0,37.0,3242.0
572317,SERRA,COLINA DE LARANJEIRAS,2021-12-12,17.0,0.0,4.0,3300.0,37.0,3246.0
572318,SERRA,COLINA DE LARANJEIRAS,2089-12-25,0.0,0.0,0.0,3300.0,37.0,3246.0

In [22]:
df_counts_by_week_new = df_counts_by_week.rename({'DataNotificacao': 'DataInicio'}, axis=1)

In [23]:
from datetime import date, timedelta

def get_data_interval(data_inicio):
    data_fim = data_inicio + timedelta(days=6)
    today = date.today()
    
    if today < data_fim:
        data_fim = today
        
    pattern = '%d/%m/%Y'

    return f'{data_inicio.strftime(pattern)} - {data_fim.strftime(pattern)}'

# df_counts_by_week_new['DataInicio'].apply(get_data_interval).tolist()

In [24]:
df_counts_by_week_new.tail()

,Municipio,Bairro,DataInicio,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
436034,NOVA VICOSA,NAO ENCONTRADO,2089-12-25,0.0,0.0,0.0,4.0,0.0,3.0
436157,NOVO GAMA,NAN,2089-12-25,0.0,0.0,0.0,1.0,0.0,0.0
436280,NOVO HAMBURGO,NAN,2089-12-25,0.0,0.0,0.0,2.0,0.0,0.0
436526,NOVORIZONTE,NAN,2089-12-25,0.0,0.0,0.0,2.0,0.0,1.0
659033,ZE DOCA,NAN,2089-12-25,0.0,0.0,0.0,1.0,0.0,1.0

In [25]:
df_counts_by_week['Obitos'].sum()

13273.0

In [26]:
df_counts_by_week.shape

(659034, 9)

In [ ]:
# df_counts_by_week.to_csv('microdados_pre-processed.csv', sep=',', index=False, encoding='UTF-8')