# Tratamento dos Dados

In [45]:
import pandas as pd
from unidecode import unidecode

In [46]:
# url = 'https://bi.s3.es.gov.br/covid19/MICRODADOS.zip'
url = '../MICRODADOS.zip'
df = pd.read_csv(url, sep = ';', encoding = 'cp1252')
df.head()

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataColetaTesteRapido,DataColetaSorologia,DataColetaSorologiaIGG,DataEncerramento,DataObito,Classificacao,...,ViagemBrasil,ViagemInternacional,ProfissionalSaude,PossuiDeficiencia,MoradorDeRua,ResultadoRT_PCR,ResultadoTesteRapido,ResultadoSorologia,ResultadoSorologia_IGG,TipoTesteRapido
0,2021-06-18,2021-06-15,2021-06-14,NaN,2021-06-18,NaN,NaN,2021-06-18,NaN,Descartados,...,Não Informado,Não Informado,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno
1,2021-06-18,2021-06-16,2021-06-13,2021-06-18,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado
2,2021-06-18,2021-06-17,2021-06-16,NaN,2021-06-17,NaN,NaN,NaN,NaN,Suspeito,...,Não Informado,Não Informado,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno
3,2021-06-18,2021-06-18,2021-06-15,NaN,2021-06-18,NaN,NaN,2021-06-18,NaN,Descartados,...,Não Informado,Não Informado,Ignorado,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno
4,2021-06-18,2021-06-18,2021-06-14,NaN,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado

In [47]:
inicio = df['DataNotificacao'].min()
fim = df['DataNotificacao'].max()

print(f'Os dados são de {inicio} a {fim}')

Os dados são de 2020-01-23 a 2021-06-18

In [48]:
print('Classificacão: {}'.format(df['Classificacao'].unique()))
print('Evolução: {}'.format(df['Evolucao'].unique()))

Classificacão: ['Descartados' 'Suspeito' 'Confirmados']
Evolução: ['Ignorado' '-' 'Cura' 'Óbito pelo COVID-19' 'Óbito por outras causas']

In [49]:
total_casos = df.query('Classificacao == "Confirmados"').shape[0]
total_obitos = df.query('Evolucao == "Óbito pelo COVID-19"').shape[0]
total_curas = df.query('Evolucao == "Cura"').shape[0]

print('TOTAIS')
print('=================')
print('  - CASOS: {}'.format(total_casos))
print('  - ÓBITOS: {} ({}%)'.format(total_obitos, round((total_obitos * 100) / total_casos, 1)))
print('  - CURA: {} ({}%)'.format(total_curas, round((total_curas * 100) / total_casos, 1)))

TOTAIS
=================
  - CASOS: 505764
  - ÓBITOS: 11264 (2.2%)
  - CURA: 482970 (95.5%)

In [50]:
df['DataConfirmado'] = df['DataColeta_RT_PCR'].combine_first(df['DataColetaTesteRapido'])\
    .combine_first(df['DataColetaSorologia'])\
    .combine_first(df['DataColetaSorologiaIGG'])\
    .combine_first(df['DataDiagnostico'])

df

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataColetaTesteRapido,DataColetaSorologia,DataColetaSorologiaIGG,DataEncerramento,DataObito,Classificacao,...,ViagemInternacional,ProfissionalSaude,PossuiDeficiencia,MoradorDeRua,ResultadoRT_PCR,ResultadoTesteRapido,ResultadoSorologia,ResultadoSorologia_IGG,TipoTesteRapido,DataConfirmado
0,2021-06-18,2021-06-15,2021-06-14,NaN,2021-06-18,NaN,NaN,2021-06-18,NaN,Descartados,...,Não Informado,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno,2021-06-18
1,2021-06-18,2021-06-16,2021-06-13,2021-06-18,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado,2021-06-18
2,2021-06-18,2021-06-17,2021-06-16,NaN,2021-06-17,NaN,NaN,NaN,NaN,Suspeito,...,Não Informado,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno,2021-06-17
3,2021-06-18,2021-06-18,2021-06-15,NaN,2021-06-18,NaN,NaN,2021-06-18,NaN,Descartados,...,Não Informado,Ignorado,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno,2021-06-18
4,2021-06-18,2021-06-18,2021-06-14,NaN,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado,2021-06-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567419,2020-02-27,2020-04-16,2020-02-16,2020-02-27,NaN,NaN,NaN,2020-04-16,NaN,Descartados,...,Não,Não,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado,2020-02-27
1567420,2020-02-27,2020-04-16,2020-02-15,2020-02-27,NaN,NaN,NaN,2020-04-16,NaN,Descartados,...,Não,Não,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado,2020-02-27
1567421,2020-02-27,2020-04-16,2020-02-15,2020-02-27,NaN,NaN,NaN,2020-04-16,NaN,Descartados,...,Não,Não,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado,2020-02-27
1567422,2020-02-25,2020-04-16,2020-02-13,2020-02-26,NaN,NaN,NaN,2020-04-16,2020-04-16,Descartados,...,Sim,Não,Não,Não,Negativo,Não Informado,Não Informado,Não Informado,Não Informado,2020-02-26
1567423,2020-01-23,2020-10-25,2020-01-20,NaN,2020-01-29,NaN,NaN,2020-10-29,NaN,Descartados,...,Não,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,2020-01-29

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567424 entries, 0 to 1567423
Data columns (total 46 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   DataNotificacao          1567424 non-null  object
 1   DataCadastro             1567424 non-null  object
 2   DataDiagnostico          1567424 non-null  object
 3   DataColeta_RT_PCR        774977 non-null   object
 4   DataColetaTesteRapido    550045 non-null   object
 5   DataColetaSorologia      86282 non-null    object
 6   DataColetaSorologiaIGG   132939 non-null   object
 7   DataEncerramento         1343980 non-null  object
 8   DataObito                14387 non-null    object
 9   Classificacao            1567424 non-null  object
 10  Evolucao                 1567424 non-null  object
 11  CriterioConfirmacao      1567424 non-null  object
 12  StatusNotificacao        1567424 non-null  object
 13  Municipio                1567424 non-null  object
 14  Bairro                   1552069 non-null  object
 15  FaixaEtaria              1567424 non-null  object
 16  IdadeNaDataNotificacao   1567424 non-null  object
 17  Sexo                     1567424 non-null  object
 18  RacaCor                  1567424 non-null  object
 19  Escolaridade             1567424 non-null  object
 20  Gestante                 1567424 non-null  object
 21  Febre                    1567424 non-null  object
 22  DificuldadeRespiratoria  1567424 non-null  object
 23  Tosse                    1567424 non-null  object
 24  Coriza                   1567424 non-null  object
 25  DorGarganta              1567424 non-null  object
 26  Diarreia                 1567424 non-null  object
 27  Cefaleia                 1567424 non-null  object
 28  ComorbidadePulmao        1567424 non-null  object
 29  ComorbidadeCardio        1567424 non-null  object
 30  ComorbidadeRenal         1567424 non-null  object
 31  ComorbidadeDiabetes      1567424 non-null  object
 32  ComorbidadeTabagismo     1567424 non-null  object
 33  ComorbidadeObesidade     1567424 non-null  object
 34  FicouInternado           1567424 non-null  object
 35  ViagemBrasil             1567424 non-null  object
 36  ViagemInternacional      1567424 non-null  object
 37  ProfissionalSaude        1567424 non-null  object
 38  PossuiDeficiencia        1567424 non-null  object
 39  MoradorDeRua             1567424 non-null  object
 40  ResultadoRT_PCR          1567424 non-null  object
 41  ResultadoTesteRapido     1567424 non-null  object
 42  ResultadoSorologia       1567424 non-null  object
 43  ResultadoSorologia_IGG   1567424 non-null  object
 44  TipoTesteRapido          1567424 non-null  object
 45  DataConfirmado           1567424 non-null  object
dtypes: object(46)
memory usage: 550.1+ MB

In [52]:
# df.dropna(subset=['DataConfirmado'], inplace=True)
# df[df['DataConfirmado'].notna()].shape[0]

In [53]:
df['DataNotificacao'] = pd.to_datetime(df['DataConfirmado'], errors = 'coerce')
df['DataObito'] = pd.to_datetime(df['DataObito'])
df.sort_values('DataNotificacao', inplace=True)
df = df.query('Classificacao == "Confirmados"').reset_index(drop=True)

## Padroniza nome de municípios e bairros

In [54]:
df['Municipio'] = df['Municipio'].apply(lambda x: unidecode(str(x)).upper())
df['Bairro'] = df['Bairro'].apply(lambda x: unidecode(str(x)).upper())

## Cálculo de Confirmados, Óbitos e Curados

In [55]:
grupo_base = ['DataNotificacao', 'Municipio', 'Bairro']

datas = df[['DataNotificacao']].drop_duplicates().reset_index(drop=True)
municipios_bairros = df[['Municipio', 'Bairro']].drop_duplicates().reset_index(drop=True)
    
datas['key'] = 0
municipios_bairros['key'] = 0

grupo_base

['DataNotificacao', 'Municipio', 'Bairro']

In [31]:
df['Confirmados'] = 1
df['Curas'] = df['Evolucao'].apply(lambda e: 1 if e == 'Cura' else 0)
df['Obitos'] = df['Evolucao'].apply(lambda e: 1 if e == 'Óbito pelo COVID-19' else 0)

df_confirmados_curas = df[['Municipio', 'Bairro', 'DataNotificacao', 'Confirmados', 'Curas']]\
    .groupby(['Municipio', 'Bairro', 'DataNotificacao'])\
    .sum()\
    .reset_index()

df_obitos = df[['Municipio', 'Bairro', 'DataObito', 'Obitos']]\
    .groupby(['Municipio', 'Bairro', 'DataObito'])\
    .sum()\
    .reset_index()\
    .rename({'DataObito': 'DataNotificacao'}, axis=1)

df_counts = df_confirmados_curas.merge(
    df_obitos,
    on=grupo_base,
    how='outer'
).fillna(0)

In [32]:
df_datas_municipios = pd.merge(datas, municipios_bairros, how='outer')[grupo_base]

df_counts = df_datas_municipios.merge(
    df_counts,
    on=grupo_base,
    how='left'
)

df_counts.fillna(
    {
        'Confirmados': 0,
        'Obitos': 0,
        'Curas': 0,
    },
    inplace=True
)

In [33]:
df_counts.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,DataNotificacao,Municipio,Bairro,Confirmados,Curas,Obitos
2696162,2021-06-14,SERRA,COLINA DE LARANJEIRAS,3.0,0.0,0.0
2701249,2021-06-15,SERRA,COLINA DE LARANJEIRAS,4.0,1.0,0.0
2706336,2021-06-16,SERRA,COLINA DE LARANJEIRAS,3.0,0.0,0.0
2711423,2021-06-17,SERRA,COLINA DE LARANJEIRAS,1.0,0.0,0.0
2716510,2021-06-18,SERRA,COLINA DE LARANJEIRAS,0.0,0.0,0.0
2721597,2089-12-27,SERRA,COLINA DE LARANJEIRAS,0.0,0.0,0.0

In [34]:
columns_sum = ['Confirmados', 'Obitos', 'Curas']
df_counts_by_week = df_counts.groupby(['Municipio', 'Bairro', pd.Grouper(key='DataNotificacao', freq='W', label='left', closed='left')])[columns_sum]\
    .sum()\
    .reset_index()\
    .sort_values('DataNotificacao')

df_counts_by_week['ConfirmadosAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Confirmados']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week['ObitosAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Obitos']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week['CurasAcumulado'] = df_counts_by_week[['Municipio', 'Bairro', 'DataNotificacao', 'Curas']]\
    .groupby(['Municipio', 'Bairro'])\
    .cumsum()

df_counts_by_week.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
413970,SERRA,COLINA DE LARANJEIRAS,2021-05-16,40.0,0.0,39.0,2645.0,27.0,2615.0
413971,SERRA,COLINA DE LARANJEIRAS,2021-05-23,31.0,0.0,31.0,2676.0,27.0,2646.0
413972,SERRA,COLINA DE LARANJEIRAS,2021-05-30,26.0,0.0,26.0,2702.0,27.0,2672.0
413973,SERRA,COLINA DE LARANJEIRAS,2021-06-06,16.0,1.0,14.0,2718.0,28.0,2686.0
413974,SERRA,COLINA DE LARANJEIRAS,2021-06-13,13.0,0.0,1.0,2731.0,28.0,2687.0
413975,SERRA,COLINA DE LARANJEIRAS,2089-12-25,0.0,0.0,0.0,2731.0,28.0,2687.0

In [36]:
from datetime import date

today = date.today().strftime('%Y-%m-%d')
df_counts_by_week.query(f'DataNotificacao <= "{today}"')

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
0,ABADIA DOS DOURADOS,NAN,1920-12-26,0.0,0.0,0.0,0.0,0.0,0.0
81968,BREJETUBA,PAVAO,1920-12-26,0.0,0.0,0.0,0.0,0.0,0.0
394424,SAO MATEUS,ARNALDO BASTOS,1920-12-26,0.0,0.0,0.0,0.0,0.0,0.0
82062,BREJETUBA,PINHEIROS,1920-12-26,0.0,0.0,0.0,0.0,0.0,0.0
394330,SAO MATEUS,ALVORADA,1920-12-26,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
166190,ESPIGAO D'OESTE,PALMEIRA,2021-06-13,0.0,0.0,0.0,1.0,0.0,1.0
166096,ESPIGAO D'OESTE,NAN,2021-06-13,0.0,0.0,0.0,1.0,0.0,1.0
310950,NOVA VENECIA,CORREGO SANTA ROSA DO MUNIZ,2021-06-13,0.0,0.0,0.0,3.0,0.0,3.0
308506,NOVA VENECIA,CORREGO DO ONZE,2021-06-13,0.0,0.0,0.0,2.0,0.0,1.0
29326,ALVORADA DE MINAS,NAN,2021-06-13,0.0,0.0,0.0,1.0,0.0,0.0

In [37]:
df_counts_by_week.query('Municipio == "SERRA" & Bairro == "COLINA DE LARANJEIRAS"').tail(6)

,Municipio,Bairro,DataNotificacao,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
413970,SERRA,COLINA DE LARANJEIRAS,2021-05-16,40.0,0.0,39.0,2645.0,27.0,2615.0
413971,SERRA,COLINA DE LARANJEIRAS,2021-05-23,31.0,0.0,31.0,2676.0,27.0,2646.0
413972,SERRA,COLINA DE LARANJEIRAS,2021-05-30,26.0,0.0,26.0,2702.0,27.0,2672.0
413973,SERRA,COLINA DE LARANJEIRAS,2021-06-06,16.0,1.0,14.0,2718.0,28.0,2686.0
413974,SERRA,COLINA DE LARANJEIRAS,2021-06-13,13.0,0.0,1.0,2731.0,28.0,2687.0
413975,SERRA,COLINA DE LARANJEIRAS,2089-12-25,0.0,0.0,0.0,2731.0,28.0,2687.0

In [38]:
df_counts_by_week_new = df_counts_by_week.rename({'DataNotificacao': 'DataInicio'}, axis=1)

In [43]:
from datetime import date, timedelta

def get_data_interval(data_inicio):
    data_fim = data_inicio + timedelta(days=6)
    today = date.today()
    
    if today < data_fim:
        data_fim = today
        
    pattern = '%d/%m/%Y'

    return f'{data_inicio.strftime(pattern)} - {data_fim.strftime(pattern)}'

# df_counts_by_week_new['DataInicio'].apply(get_data_interval).tolist()

In [44]:
df_counts_by_week_new.tail()

,Municipio,Bairro,DataInicio,Confirmados,Obitos,Curas,ConfirmadosAcumulado,ObitosAcumulado,CurasAcumulado
301551,NOVA ERA,NAN,2089-12-25,0.0,0.0,0.0,30.0,0.0,2.0
172959,GOVERNADOR LINDENBERG,CORREGO 24 DE FEVEREIRO,2089-12-25,0.0,0.0,0.0,7.0,0.0,7.0
301457,NOVA BELEM,NAO ENCONTRADO,2089-12-25,0.0,0.0,0.0,1.0,1.0,0.0
173053,GOVERNADOR LINDENBERG,CORREGO ALEGRE,2089-12-25,0.0,0.0,0.0,6.0,0.0,3.0
478177,ZE DOCA,NAN,2089-12-25,0.0,0.0,0.0,1.0,0.0,1.0

In [41]:
df_counts_by_week['Obitos'].sum()

11264.0

In [42]:
# df_counts_by_week.to_csv('microdados_pre-processed.csv', sep=',', index=False, encoding='UTF-8')